:root{
    --primary-one: #3700b3;
    --primary-two: #03dac6;
    --background: #121212;
    --primary-one-text: #000000;
    --background-text: #ffffff;
    --primary-two-text: #df5a72;
}

*{
    font-family: Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0px;
    padding: 0px;
}

body{
    text-align: center;
    background-color: var(--background);
    color: var(--background-text);
}

.themes{
    display: flex;
    padding: 0.5rem;
    justify-content: space-evenly;
}
.dark , .light{
    background-color: gray;
    padding: 0.2rem;
    border-radius: 0.3rem;
}

.dark:hover , .light:hover{
    opacity: 0.5;
}

.options-wrapper{
    margin: 3rem 0rem;
}

.options{
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
}

.option{
    text-align: center;
    width: 6rem;
    height: 3rem;
    line-height: 3rem;
    background-color: var(--primary-one);
    margin: 0.5rem;
    border-radius: 0.5rem;
    color: var(--primary-one-text);
}

.option:hover{
    background-color: #280085;
    cursor: pointer;
}

.highscoreDiv{
    margin-top: 3rem;
    background-color: var(--primary-two);
    width: max-content;
    border-radius: 0.3rem;
    color: var(--primary-one-text);
    position: relative;
    left: 50%;
    translate: -50%;
    padding: 0.2rem 1rem;
}

.highScore{
    color: var(--primary-two-text);
    font-size: 2.5rem;
}